githubConfigUrl: "https://github.com/cunialino/crypto-lakehouse"
githubConfigSecret: arc-runner-auth
runnerScaleSetName: "homelab-runner-crypto"
containerMode:
  type: "kubernetes"
  kubernetesModeWorkVolumeClaim:
    accessModes: ["ReadWriteOnce"]
    storageClassName: "longhorn"
    resources:
      requests:
        storage: "2Gi"

template:
  spec:
    hostUsers: false 

    securityContext:
      fsGroup: 1000
      runAsUser: 1000
      runAsGroup: 1000

    containers:
      - name: runner
        # Use an image with Podman pre-installed (or your custom build)
        image: quay.io/podman/stable:latest 
        command: ["/home/runner/run.sh"]
        securityContext:
          # We no longer need 'privileged: true' or 'SYS_ADMIN'!
          privileged: false
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
        env:
          - name: STORAGE_DRIVER
            value: "overlay"
        volumeMounts:
          - name: storage
            mountPath: /var/lib/containers/storage
          - name: storage-conf
            mountPath: /etc/containers/storage.conf
            subPath: storage.conf

    volumes:
      - name: storage
        emptyDir:
          sizeLimit: 10Gi
      - name: storage-conf
        configMap:
          name: podman-storage-config

controllerServiceAccount:
  name: arc-runners-gha-rs-controller
  namespace: arc-runners
